{{> menu active="about"}}

<section class="section">
  <h1>Hello from Rustic Ramblers</h1>
  <p>
    Trekking, walking and climbing are a transformative journey that unveils nature's unparalleled beauty. The rhythmic crunch of gravel beneath sturdy boots, the fresh mountain air, and the vibrant hues of untouched landscapes offer a sensory symphony. Each step resonates with the joy of exploration, as winding trails lead to hidden vistas and serene landscapes. The journey itself becomes an ode to the boundless wonders of our planet. Rustic Ramblers aim is to share the beauty of these treks so all can experience their wonder.
    <br><br>
    Enjoy the journey but leave no trace. Whatever you take with you, bring it home.
  </p>
</section>


