{{> menu active="dashboard"}}

<section class="section" style="position: relative; background-image: url('/images/dashboard1.jpg'); background-size: cover; background-position: center; opacity: 0.9;">
  {{> list-trektypes}}
  {{> add-trektype}}
 
</section>
