{{> welcome-menu}}

<div class="hero is-halfheight is-bold">
  <div class="hero-body" style="background-image: url('public/images/mangerton.jpg'); background-size: cover; background-position: center; opacity: 0.8;">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-left">
          <h1 class="title has-text-white is-size-2">Sign up or Log in...</h1>
        </div>
      </div>
    </div>
  </div>
</div>
