{{> welcome-menu}}

<div class="container is-halfheight">
  <div class="columns is-vcentered is halfheight">
    <div class="column has-text-centered">
      <figure class="image">
        <img src="/images/mangerton.JPG" alt="Background Image" class="image">
      </figure>
      <h1 class="title has-text-white is-size-2" style="position: absolute; top: 50%; left: 10%; transform: translateY(-50%);">Sign up or Log in for access...</h1>
    </div>
  </div>
</div>
