{{> menu}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    <div class="title">
      {{trektype.title}}
    </div>
    {{> list-placemarks}}
    {{> add-placemark}}
  </div>
  <div class="column">
    {{> trektype-image }}
  </div>
</section>
