
  <form action="/dashboard/addtrektype" method="POST">
    <div class="field">
      <label class="label">Trek Category</label>
      <input class="input" type="text" placeholder="Enter Trek Category title" name="title">
    </div>
    <button class="button is-link">Add Trek Category</button>
  </form>