<form class="box" action="/trektype/{{trektype._id}}/addplacemark" method="POST">
  <label>Enter the Placemark Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Placemark Name" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Placemark info (Facts, Details, Guidance)" name="details">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location (Nearest Town & County)" name="location">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Placemark</button>
</form>
